[*.{kt,kts}]
ktlint_standard_final-import-ordering = disabled
ktlint_standard_final-trailing-comma = disabled
ktlint_standard_final-newline = disabled
ktlint_standard_final-colon-spacing = disabled
indent_style = space
indent_size = 4
continuation_indent_size = 4